<div class="auth">
  <form action="/recipes/<%=@recipe.id%>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="recipe[name]" value="<%=@recipe.name%>"><br>
    <br>
    <textarea rows='5' cols='50' name="recipe[ingredients]"><%=@recipe.ingredients%></textarea><br>
    <br>
    <textarea rows='5' cols='50' name="recipe[instructions]"><%=@recipe.instructions%></textarea><br>
    <br>
    <input type="text" name="recipe[photo_url]" placeholder='photo url' value="<%=@recipe.photo_url%>">
    <input type="submit">
  </form>
</div>
