<h1><%=@recipe.name%></h1>
<h3> ingredients </h3>
<% @recipe.ingredients_array.each do |ingredient| %>
	<%= ingredient %><br>
<% end %>
<h3>instructions</h3>
<%= @recipe.instructions %><br>
<br>
<p>By: <a href='/users/<%= @recipe.user_id %>'><%= @recipe.user.name %></a></p>

<%= erb :'/comments/_comment' %>

<form action='/comments' method="POST">
  <input type='text' name='comment[content]' placeholder='comment'>
  <input type="hidden" name='comment[user_id]' value='<%= current_user %>'>
  <input type="hidden" name="comment[recipe_id]" value='<%= @recipe.id %>''>
  <input type='submit'>
</form>

